<div id="family-pic">
    <img src="img/familypic.jpg" alt="family pic"/>
</div>

<div id="dad" class="hover-box"><p></p></div>
<div id="mom" class="hover-box"><p></p></div>
<div id="daughter" class="hover-box"><p></p></div>
<div id="son" class="hover-box"><p></p></div>
<div id="sister" class="hover-box"><p></p></div>
<div id="brother-in-law" class="hover-box"><p></p></div>
<div id="me" class="hover-box"><p></p></div>
<div id="wife" class="hover-box"><p></p></div>
<div id="brother" class="hover-box"><p></p></div>
<div id="sister-in-law" class="hover-box"><p></p></div>
<div id="not-pictured" class="hover-box"><p></p></div>